{{ define "main" }}

<!-- blog details -->
<section class="section-news">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 order-2 order-lg-1">
        <div class="row mb-30">
          <div class="col-12 mb-20">
            <img src="{{ .Params.image | relURL }}" alt="blog-thumb" class="img-fluid w-100">
          </div>
          <div class="col-12">
            <ul class="bt-post-meta">
              <!-- AUTHOR -->
              <li class="bt-post-meta__item bt-post-meta__item--author">
                <i class="ti-user bt-post-meta__icon"></i>
                <span class="bt-post-meta__label">{{ i18n "posted_by" }}:</span>
                <a href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}">
                  {{ .Params.Author | title }}
                </a>
              </li>

              <!-- DATE -->
              <li class="bt-post-meta__item bt-post-meta__item--date">
                <i class="ti-calendar bt-post-meta__icon"></i>
                <span class="bt-post-meta__label">{{ i18n "date" }}:</span>
                <span>{{ .PublishDate.Format "02 Jan, 2006" }}</span>
              </li>

              <!-- CATEGORY (UVEK POSEBAN RED) -->
              <li class="bt-post-meta__item bt-post-meta__item--category">
                <i class="ti-tag bt-post-meta__icon"></i>
                <span class="bt-post-meta__label">{{ i18n "category" }}:</span>
                <span class="bt-post-meta__value">
                  {{ range $index, $elements:= .Params.Categories -}}
                    <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}">
                      {{ if ne $index 0 }}, {{ end }}{{ . | title }}
                    </a>
                  {{- end }}
                </span>
              </li>
            </ul>
          </div>
          <!-- border -->
          <div class="col-12 my-3">
            <div class="border-bottom"></div>
          </div>
          <!-- blog contect -->
          <div class="col-12 content">
            {{ .Content }}
          </div>

          {{ with .Params.videoUrl }}
            <div class="bt-news-video mb-10">
              <iframe
                class="bt-video-iframe"
                src="{{ . | safeURL }}"
                title="{{ $.Params.title }}"
                loading="lazy"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                referrerpolicy="strict-origin-when-cross-origin">
              </iframe>
            </div>
            <div class="col-12">
              <hr class="mb-30">
            </div>
          {{ end }}


          <!-- comments -->
          {{ if .Site.Config.Services.Disqus.Shortname }}
          <div class="col-12">
            {{ template "_internal/disqus.html" . }}
          </div>
          {{ end }}
          
        </div>
      </div>
      {{ partial "blog-sidebar.html" . }}
    </div>
  </div>
</section>
<!-- /blog details -->

{{ end }}