{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <img style="height: auto;width: 100%;object-fit: cover;" src="{{ .Params.image | relURL }}" alt="{{ .Title }}" class="img-fluid w-100">
      </div>
    </div>
    <div class="row" style="justify-content: center;">
      <div class="col-12 content">
        {{ .Content }}
      </div>
    </div>
  </div>
  <div class="container">
    <button type="button" class="collapsible mb-20">GC15 – troosovinski luksuzni električni coach</button>
    <div class="collapsible-category-content mb-20">
      <p>Najveću pažnju posetilaca privukao je upravo GC15, luksuzni turistički autobus koji donosi spoj snage, dometa i komfora. Opremljen baterijama kapaciteta 704 kWh, nudi impresivnu autonomiju do 650 kilometara sa jednim punjenjem. Unutrašnjost vozila odlikuje se vrhunskim materijalima i pažljivo odabranim detaljima, dok se ističe i inovativno rešenje – komande menjača i infotainment sistema integrisane su direktno u naslon za desnu ruku vozača, što doprinosi ergonomiji i futurističkom utisku.</p>
      <img src="/images/busworld2025/golden-dragon/img2.jpg">
      <img src="/images/busworld2025/golden-dragon/img3.jpg">
      <img src="/images/busworld2025/golden-dragon/img4.jpg">
      <img src="/images/busworld2025/golden-dragon/img5.jpg">
      <img src="/images/busworld2025/golden-dragon/img6.jpg">
      <img src="/images/busworld2025/golden-dragon/img7.jpg">
      <img src="/images/busworld2025/golden-dragon/img8.jpg">
      <img src="/images/busworld2025/golden-dragon/img9.jpg">
    </div>
    <button type="button" class="collapsible mb-20">Pivot – niskopodni električni gradski autobus</button>
    <div class="collapsible-category-content mb-20">
      <img src="/images/busworld2025/golden-dragon/img10.jpg">
      <img src="/images/busworld2025/golden-dragon/img11.jpg">
      <img src="/images/busworld2025/golden-dragon/img12.jpg">
      <img src="/images/busworld2025/golden-dragon/img13.jpg">
      <img src="/images/busworld2025/golden-dragon/img14.jpg">
    </div>
    <hr>
    {{ if .Site.Config.Services.Disqus.Shortname }}
    <div class="col-12">
    {{ template "_internal/disqus.html" . }}
    </div>
    {{ end }}
  </div>
</section>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("collapsible-active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>

{{ end }}