{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- event single -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title">{{ .Title }}</h2>
      </div>
      <!-- event image -->
      <div class="col-12">
        <img style="object-fit: cover;" src="/images/blog/busworld-2025/img1.jpg" alt="{{ .Title }}" class="img-fluid">
      </div>
    </div>
    <!-- event info -->
    <div class="row align-items-center mb-5">
    </div>
    <!-- event details -->
    <div class="row">
      <div class="col-12 mb-20 content">
        {{ .Content }}
      </div>
    </div>
  </div>
  {{ if $data.homepage.funfactsbusworld2025.enable }}
  {{ with $data.homepage.funfactsbusworld2025 }}
  <section class="section-sm bg-primary mb-40">
    <div class="container">
      <div class="row">
        <!-- funfacts item -->
        {{ range .funfact_item }}
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <div class="text-center">
            <h5 class="text-white">{{ .above }}</h5>
            <div class="row" style="justify-content: center;">
              <h1 class="count text-white" data-count="{{ .count }}">0</h1><h1 class="text-white">{{ .exponent }}</h1>
            </div>
            <h5 class="text-white">{{ .under }}</h5>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}
  <div class="container">
    <div class="row mb-30" style="justify-content: center;">
      <div class="col-12 content">
        <p>Na Busworldu se tradicionalno dodeljuju prestižne nagrade u okviru takmičenja koje ocenjuje stručni žiri. Vozila se biraju i ocenjuju u više kategorija, na osnovu tehničkih karakteristika, bezbednosti, udobnosti, ekoloških performansi i dizajna.</p>
        <h3>🌟 Glavne nagrade:</h3>
        <p>
          <ul>
            <li>
              <strong>Grand Award Bus</strong> - <em>Yutong U15</em><br>
              <p>Najbolji autobus u svim kriterijumima: tehničkim, bezbednosnim, udobnosnim, ekološkim i dizajnerskim.</p>
            </li>
            <li>
              <strong>Grand Award Coach</strong> - <em>Yutong T14E</em><br>
              <p>Najbolji turistički autobus u svim kriterijumima.</p>
            </li>
          </ul>
        </p>

        <h3>🏅 Label of Excellence nagrade:</h3>
        <p>
          <ul>          
            <li>
              <strong>Safety (Bus)</strong> - <em>Yutong U15</em><br>
              <p>Vozilo sa najnaprednijim bezbednosnim sistemima po oceni žirija.</p>
            </li>
            <li>
              <strong>Ecology (Bus)</strong> - <em>Yutong IC12E</em><br>
              <p>Autobus prepoznat po izuzetnim ekološkim karakteristikama, uključujući nisku emisiju štetnih gasova i visoku energetsku efikasnost.</p>
            </li>
            <li>
              <strong>Comfort (Bus)</strong> - <em>Mercedes-Benz eCitaro</em><br>
              <p>Najveći nivo komfora u svojoj klasi.</p>
            </li>
            <li>
              <strong>Safety (Coach)</strong> - <em>Setra S515HD</em><br>
              <span>Turistički autobus sa najboljim bezbednosnim sistemima.</p>
            </li>
            <li>
              <strong>Ecology (Coach)</strong> - <em>Yutong IC12E</em><br>
              <p>Vozilo koje se istaklo po energetskoj efikasnosti i minimalnom uticaju na životnu sredinu.</p>
            </li>
            <li>
              <strong>Comfort (Coach)</strong> - <em>Setra S515HD</em><br>
              <p>Najudobniji turistički autobus po oceni žirija.</p>
            </li>
          </ul>
        </p>

        <h3>🚀 Posebna nagrada:</h3>
        <p>
          <ul>
            <li>
              <strong>Driveline Technology</strong> - <em>Scania Irizar i6s Efficient PHEV</em><br>
              <p>Nagrada za inovativnu tehnologiju pogona i unapređene performanse hibridnih sistema.</p>
            </li>
          </ul>
        </p>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <!-- event partners -->
    <div class="row">
      <div class="col-12">
        <h2>Ovogodišnji učesnici</h2>
        <h6 class="mb-4">(Klik na logo za više detalja)</h6>
      </div>
      <!-- partners -->
      {{ range .Params.Partners }}
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="media hover-shadow mb-10" style="justify-content: center">
          <a href="{{ .partnerUrl}}">
            {{ with .image }}<img class="mr-3" src="{{ . | relURL }}" alt="speaker">{{ end }}
          </a>
         
          <!-- <div class="media-body">
            <h4 class="mt-0">{{ .name }}</h4>
            {{ .designation }}
          </div> -->
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /event single -->

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("collapsible-active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>

{{ end }}