{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <img style="height: auto;width: 100%;object-fit: cover;" src="{{ .Params.image | relURL }}" alt="{{ .Title }}" class="img-fluid w-100">
      </div>
    </div>
    <div class="row" style="justify-content: center;">
      <div class="col-12 content">
        {{ .Content }}
      </div>
    </div>
  </div>
  <div class="container">
    <button type="button" class="collapsible mb-20">Yutong U12</button>
    <div class="collapsible-category-content mb-20">
      <img src="/images/busworld2025/yutong/img3.jpg">
      <img src="/images/busworld2025/yutong/img4.jpg">
      <img src="/images/busworld2025/yutong/img5.jpg">
      <img src="/images/busworld2025/yutong/img6.jpg">
      <img src="/images/busworld2025/yutong/img7.jpg">
    </div>
    <button type="button" class="collapsible mb-20">Yutong U15</button> 
    <div class="collapsible-category-content mb-20">
      <img src="/images/busworld2025/yutong/img8.jpg">
      <img src="/images/busworld2025/yutong/img9.jpg">
      <img src="/images/busworld2025/yutong/img10.jpg">
      <img src="/images/busworld2025/yutong/img11.jpg">
      <img src="/images/busworld2025/yutong/img12.jpg">
      <img src="/images/busworld2025/yutong/img13.jpg">
    </div>
    <button type="button" class="collapsible mb-20">Yutong IC12E</button>
    <div class="collapsible-category-content mb-20">
      <img src="/images/busworld2025/yutong/img14.jpg">
      <img src="/images/busworld2025/yutong/img15.jpg">
      <img src="/images/busworld2025/yutong/img16.jpg">
      <img src="/images/busworld2025/yutong/img17.jpg">
      <img src="/images/busworld2025/yutong/img18.jpg">
      <img src="/images/busworld2025/yutong/img19.jpg">
      <img src="/images/busworld2025/yutong/img20.jpg">
    </div>
    <button type="button" class="collapsible">Yutong T14E</button>
    <div class="collapsible-category-content mb-20 mt-4">
      <img src="/images/busworld2025/yutong/img21.jpg">
      <img src="/images/busworld2025/yutong/img22.jpg">
      <img src="/images/busworld2025/yutong/img23.jpg">
      <img src="/images/busworld2025/yutong/img24.jpg">
      <img src="/images/busworld2025/yutong/img25.jpg">
      <img src="/images/busworld2025/yutong/img26.jpg">
      <img src="/images/busworld2025/yutong/img27.jpg">
      <img src="/images/busworld2025/yutong/img28.jpg">
      <img src="/images/busworld2025/yutong/img29.jpg">
      <img src="/images/busworld2025/yutong/img30.jpg">
      <img src="/images/busworld2025/yutong/img31.jpg">
      <img src="/images/busworld2025/yutong/img32.jpg">
      <img src="/images/busworld2025/yutong/img33.jpg">
      <img src="/images/busworld2025/yutong/img34.jpg">
    </div>
    <hr>
    {{ if .Site.Config.Services.Disqus.Shortname }}
    <div class="col-12">
    {{ template "_internal/disqus.html" . }}
    </div>
    {{ end }}
  </div>
</section>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("collapsible-active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>

{{ end }}