{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img style="object-fit: cover;" src="/images/blog/busworld-2025/img1.webp" alt="{{ .Title }}" class="img-fluid">
      </div>
    </div>
    <div class="row align-items-center mb-5">
    </div>
    <div class="row">
      <div class="col-12 content">
        {{ .Content }}
        {{ partial "share-bottom.html" . }}
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Ovogodišnji učesnici</h2>
        <h6 class="mb-4">(Klik na logo za više detalja)</h6>
      </div>
      {{ range .Params.Partners }}
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="media hover-shadow mb-10" style="justify-content: center">
          <a href="{{ .partnerUrl}}">
            {{ with .image }}<img class="mr-3" src="{{ . | relURL }}" alt="speaker">{{ end }}
          </a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
