{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<section class="section-sm vehicle-page">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <img src="{{ .Params.image | relURL }}"
             alt="blog-thumb"
             class="img-fluid d-block mx-auto mb-20">
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="vehicle-icons-flex d-flex justify-content-center flex-wrap gap-3">
          {{ range .Params.Symbols }}
            <img src="{{ .image | relURL }}" title="{{ .desc }}">
          {{ end }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-10 mx-auto content">
        {{ .Content }}
      </div>
    </div>

    <hr class="mb-30">

    {{ if .Site.Config.Services.Disqus.Shortname }}
      <div class="row">
        <div class="col-12 col-lg-10 mx-auto">
          {{ template "_internal/disqus.html" . }}
        </div>
      </div>
    {{ end }}

  </div>
</section>

{{ end }}
