{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- event single -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <!-- event image -->
      <div class="col-12">
        <img src="{{ .Params.image | relURL }}" alt="blog-thumb" class="img-fluid w-100 mb-20">
        <div class="vehicle-icons-flex mb-50">
          {{ range .Params.Symbols }}
            <img src="{{ .image | relURL }}" title="{{ .desc }}">
          {{ end }}
        </div>
      </div>
    </div>
    
    <div class="container">
      <!-- Konfiguracija sedista -->
      <div class="d-flex align-items-center section-title justify-content-between">
        <h2 class="mb-0 text-nowrap mr-3">Konfiguracija sedišta</h2>
        <div class="border-top w-100 border-primary d-none d-sm-block"></div>
      </div>

      <div class="row" style="justify-content: center;">
        <div class="col-12 content" style="margin-bottom: unset;">
          <div class="center-content">
            <img src="{{ .Params.seatConfig | relURL }}" alt="blog-thumb" class="img-fluid w-100 mb-2" style="max-width: 80%;">
          </div>

          <hr class="mb-20">
          {{ .Content }}

          <button type="button" class="collapsible mb-20">Više slika</button>
          <div class="collapsible-category-content mb-20">
            {{ range .Params.Galery }}
              <img src="{{ .image | relURL }}" title="{{ .Params.title }}">
            {{ end }}
          </div>
          <hr class="mb-20">

          {{ if site.DisqusShortname }}
          <div class="col-12">
            {{ template "_internal/disqus.html" . }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("collapsible-active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>

{{ end }}