{{- $items := .items -}}
{{- if $items -}}

<section class="funfacts-full">
  <div class="container">
    <div class="row">
      {{ range $items }}
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <div class="text-center">

            {{ with .above }}
              <h5 class="text-white">{{ . }}</h5>
            {{ end }}

            {{ if .exponent }}
              <div class="d-flex justify-content-center align-items-baseline">
                <h1 class="count text-white mb-0" data-count="{{ .count }}">0</h1>
                <h1 class="text-white mb-0">{{ .exponent }}</h1>
              </div>
            {{ else }}
              <h1 class="count text-white" data-count="{{ .count }}">0</h1>
            {{ end }}

            {{ if .under }}
              <h5 class="text-white">{{ .under }}</h5>
            {{ else if .name }}
              <h5 class="text-white">{{ .name }}</h5>
            {{ end }}

          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>

{{- end -}}
