<!-- page title -->
<section
  class="page-title-section overlay"
  style="
    background-image: url('{{ .Params.Bg_image | relURL}}'), url('{{ `images/backgrounds/page-title.webp` | relURL }}');
    background-position: {{ .Params.bg_position | default "50% 50%" }};
  "
>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="page-title text-white h3 font-secondary">
          {{ .Title }}
        </h1>

        {{ with .Params.Description }}
          <p class="text-lighten page-title-desc">
            {{ . | markdownify }}
          </p>
        {{ end }}
      </div>
    </div>
  </div>
</section>
