<div class="card height-100 p-0 border-primary rounded-0 hover-shadow space-around-card">
  <img class="card-img-top rounded-0" src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
  <div class="card-body">
    
    <h4 class="card-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h4>

    <p class="card-text mb-4">
      {{ .Summary | truncate 100 }}
    </p>

    <a href="{{ .Permalink }}" class="btn btn-primary btn-sm service-btn">
      {{ i18n "learn_more" }}
    </a>

  </div>
</div>
