{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <img style="height: auto;width: 100%;object-fit: cover;" src="{{ .Params.image | relURL }}" alt="{{ .Title }}" class="img-fluid w-100">
      </div>
    </div>
    <div class="row" style="justify-content: center;">
      <div class="col-12 content">
        {{ .Content }}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" style="justify-content: center;">
      <div class="col-12 content">
        <ul class="mb-20">
          <li>
            Konfiguracija prilagođena <strong>kraćim relacijama i bržoj smeni putnika</strong>.
          </li>
          <li>
            Konfiguracija namenjena <strong>turističkim i dugolinijskim putovanjima</strong>, sa luksuznim sedištima i
            dodatnim komforom.
          </li>
        </ul>
        <p>Najzanimljiviji deo izloženog modela svakako je Scania 13-litarski gasni motor koji koristi LNG kao pogonsko gorivo. Ovakav izbor donosi značajne ekološke prednosti, ali i tehničke izazove – zbog potrebe za velikim rezervoarom, deo zadnjeg prtljažnog prostora prilagođen je za smeštaj LNG tanka.</p>
      </div>
    </div>
    <button type="button" class="collapsible">Galerija</button>
    <div class="collapsible-category-content mb-20 mt-4">
      <img src="/images/busworld2025/ayats/img2.JPG">
      <img src="/images/busworld2025/ayats/img3.JPG">
      <img src="/images/busworld2025/ayats/img4.JPG">
      <img src="/images/busworld2025/ayats/img5.JPG">
      <img src="/images/busworld2025/ayats/img6.JPG">
      <img src="/images/busworld2025/ayats/img7.JPG">
      <img src="/images/busworld2025/ayats/img8.JPG">
      <img src="/images/busworld2025/ayats/img9.JPG">
      <img src="/images/busworld2025/ayats/img10.JPG">
      <img src="/images/busworld2025/ayats/img11.JPG">
    </div>
    <hr>
    {{ if .Site.Config.Services.Disqus.Shortname }}
    <div class="col-12">
    {{ template "_internal/disqus.html" . }}
    </div>
    {{ end }}
  </div>
</section>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("collapsible-active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  </script>

{{ end }}